<header>
    <div class="actions">
        <div class="button-header">
            <img src="../../../../assets/svg/previous.svg" alt="previous">
        </div>
        <div class="button-header">
            <img src="../../../../assets/svg/next.svg" alt="next">
        </div>
    </div>
    <div class="search"></div>
    <div class="container-profile">
        <div class="button-upgrade">
            <button class="upgrade">Upgrade</button>
        </div>
        <div class="profile">
            <div class="image-profile">
                <img [src]="image" class="image" alt="image-profile">
            </div>
            <div class="display-name">
                <p>{{ displayName }}</p>
            </div>
            <div class="actions-profile">
                ^
            </div>
        </div>
    </div>
</header>
