<div class="container-sidebar">
    <div class="logo">
        <img src="../../../assets/svg/logo.svg" alt="spotify">
    </div>
    <div class="menu-options">
        <div class="option-menu">
            <img src="../../../assets/svg/home.svg" alt="home">
            <p>Home</p>
        </div>
        <div class="option-menu">
            <img src="../../../assets/svg/search.svg" alt="search">
            <p>Search</p>
        </div>
        <div class="option-menu">
            <img src="../../../assets/svg/library.svg" alt="library">
            <p>Your library</p>
        </div>
    </div>
</div>
