@import url('../../../colors/colors.css');

.container-sidebar{
    background: var(--black-primary);
    color: var(--gray-primary);
    height: 100%;
}

.logo{
    padding: 20px 24px;
}

.logo img{
    width: 100%;
    max-width: 131px;
    height: 40px;
}

.menu-options{
    padding: 10px 24px;
    font-family: 'Rubik', sans-serif;
}

.option-menu{
    display: flex;
    gap: 16px;
    margin-bottom: 20px;
    align-items: center;
    cursor: pointer;
}
